body {
    font-family: 'Helvetica', Times, serif;
    text-align: center;
}

.title {
    font-family: 'Helvetica', Times, serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.subheading {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
}